@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    font-family: Bebas Neue;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100%;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    
}

.fheader{
    background-image: url(../assets/header-cancha.jpg) !important;
    background-size: cover !important;
    background-position: center !important;
    font-size: 30px !important;
    height: 100px;
    
}
main{
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.jumbotron{
    color: white;
    text-shadow: 0 0 5px #000;
    background-image: url(../assets/backgroud-main.jpg) !important;
    background-size: cover;
    background-position: center;
}
.btn a{
    text-decoration: none;
    color: white;
}
.separadores{
    text-align: center;
    background-color: yellowgreen;
    padding: 20px;
    color: #fff;
    text-shadow: 0 0 5px #000;
}
.separadores2{
    text-align: center;
    background-color: red;
    padding: 20px;
    color: #fff;
    text-shadow: 0 0 5px #000;
}
.separadores3{
    text-align: center;
    background-color:rgb(0, 255, 251);
    padding: 20px;
    color: #fff;
    text-shadow: 0 0 5px #000;
}
.cleft{
    background-image: url(../assets/tapiaSmash.webp) !important;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.cright a{
    text-decoration: none;
    color: green;
}

.padelProfesional{
    text-align: center;
    color: white;
    background-color: rgb(9, 207, 197);
    background-size: cover;
    text-shadow: 0 0 5px black;
}
.reglas{
    color: green;
    background-color: white;
    border: 2px solid black;
    text-align: center;
}
.listaReglas li{
    list-style-type:none;
}
.rbleft{
    text-decoration: none;
    color: green;
}
.rbright{
    text-decoration: none;
    color: green;
}

.pleft{
    background-image: url(../assets/muchaspaletas.jpg) !important;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.pright{
    text-decoration: none;
    color:blue
}
.paletas{
    text-align: center;
    color: white;
    background-color: rgba(207, 131, 9, 0.971);
    background-size: cover;
    text-shadow: 0 0 5px black;
}
.bcontacto{
    background-color: grey;
}
.formulariosc{
    color: white;
    background-color: blue;
    background-size: cover;
    text-align: start;
}

.footerc{
    text-align: center !important;
    background-image: url(../assets/header-background.jpg) !important;
    background-size:cover !important;
    background-position: center !important;

}

footer a{
    font-size: 30px;
    color: white;
    letter-spacing: 15px;
}
